<div
    class="w-50 mx-auto mt-5"
    style="
        height: 60vh;
        display: grid;
        place-content: center;
        width: 530px;
        background: rgb(255, 255, 255);
        border-radius: 5px;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.05);
    "
>
    <div class="mx-auto mt-3 mb-3" style="width: 200px">
        <h4>Create Post</h4>
    </div>

    <form action="/api/v1/users/create" id="new-post-form" method="POST" style="width: 300px">
        <!-- Create Post -->
        <div class="form-outline mb-4">
            <label class="form-label" for="content">Post</label>
            <textarea name="content" cols="30" rows="3"></textarea>
        </div>

        <!-- Submit button -->
        <button type="submit" class="btn btn-success btn-block mb-4">Create</button>

        <!-- Register buttons -->
        <div class="text-center">
            <p>Don't Want to post? <a href="/api/v1/">Back to Home</a></p>
        </div>
    </form>
</div>

<script src="/js/home_posts.js"></script>